# Python Web Scraping Tutorial using BeautifulSoup

## The components of a web page

When we visit a web page, our web browser makes a GET request to a web server. The server then sends back files that tell our browser how to render the page for us. The files fall into a few main types:

- HTML — contain the main content of the page.
- CSS — add styling to make the page look nicer.
- JS — Javascript files add interactivity to web pages.
- Images — image formats, such as JPG and PNG allow web pages to show pictures.

After our browser receives all the files, it renders the page and displays it to us. There’s a lot that happens behind the scenes to render a page nicely, but we don’t need to worry about most of it when we’re web scraping.

### HTML


HyperText Markup Language (HTML) is a language that web pages are created in. HTML isn’t a programming language, like Python — instead, it’s a markup language that tells a browser how to layout content. 

Let’s take a quick tour through HTML so we know enough to scrape effectively. HTML consists of elements called tags. The most basic tag is the `<html>` tag. This tag tells the web browser that everything inside of it is HTML. We can make a simple HTML document just using this tag:

~~~
<html>
</html>
~~~

<html>
</html>

Right inside an html tag, we put two other tags, the head tag, and the body tag. The main content of the web page goes into the body tag. The head tag contains data about the title of the page, and other information that generally isn’t useful in web scraping:

~~~
<html>
    <head>
    </head>
    <body>
    </body>
</html>
~~~

We’ll now add our first content to the page, in the form of the p tag. The p tag defines a paragraph, and any text inside the tag is shown as a separate paragraph:
~~~
<html>
    <head>
    </head>
    <body>
          <p>
            Here's a paragraph of text!
        </p>
        <p>
            Here's a second paragraph of text!
        </p>
    </body>
</html>
~~~

<html>
    <head>
    </head>
    <body>
          <p>
            Here's a paragraph of text!
        </p>
        <p>
            Here's a second paragraph of text!
        </p>
    </body>
</html>

Tags have commonly used names that depend on their position in relation to other tags:

- **child** — a child is a tag inside another tag. So the two p tags above are both children of the body tag.
- **parent** — a parent is the tag another tag is inside. Above, the html tag is the parent of the body tag.
- **sibiling** — a sibiling is a tag that is nested inside the same parent as another tag. For example, head and body are siblings, since they’re both inside html. Both p tags are siblings, since they’re both inside body.

We can also add properties to HTML tags that change their behavior:

~~~
<html>
  <head>
  </head>
    <body>
      <p>
        Here's a paragraph of text!
        <a href="https://www.dataquest.io">Learn Data Science Online</a>
        </p>
        <p>
          Here's a second paragraph of text!
          <a href="https://www.python.org">Python</a>        
        </p>
    </body>
</html>
~~~

<html>
    <head>
    </head>
    <body>
        <p>
            Here's a paragraph of text!
            <a href="https://www.dataquest.io">Learn Data Science Online</a>
        </p>
        <p>
            Here's a second paragraph of text!
            <a href="https://www.python.org">Python</a>        </p>
    </body></html>

In the above example, we added two a tags. a tags are links, and tell the browser to render a link to another web page. The href property of the tag determines where the link goes.

a and p are extremely common html tags. Here are a few others:

- *div* — indicates a division, or area, of the page.
- *b* — bolds any text inside.
- *i* — italicizes any text inside.
- *table* — creates a table.
- *form* — creates an input form.


For a full list of tags, look [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element).

There are two special properties give HTML elements names, and make them easier to interact with when we’re scraping, **class** and **id** properties. 

- One element can have multiple classes, and a class can be shared between elements. 
- Each element can only have one id, and an id can only be used once on a page. 
- Classes and ids are optional, and not all elements will have them.

We can add classes and ids to our example:

~~~
<html>
    <head>
    </head>
    <body>
        <p class="bold-paragraph">
            Here's a paragraph of text!
            <a href="https://www.dataquest.io" id="learn-link">Learn Data Science Online</a>
        </p>
        <p class="bold-paragraph extra-large">
            Here's a second paragraph of text!
            <a href="https://www.python.org" class="extra-large">Python</a>
        </p>
    </body>
</html>
~~~

<html>
    <head>
    </head>
    <body>
        <p class="bold-paragraph">
            Here's a paragraph of text!
            <a href="https://www.dataquest.io" id="learn-link">Learn Data Science Online</a>
        </p>
        <p class="bold-paragraph extra-large">
            Here's a second paragraph of text!
            <a href="https://www.python.org" class="extra-large">Python</a>
        </p>
    </body>
</html>

## Apply this knowledge

Let's go to a webpage and change some of the HTML to see what happens. 

- Open up a webpage in Chrome.
- Right click and 'inspect element.

- Change the text in a tag.
- Change the class of a tag.
- Find a tag with an ID and remove it.

## Webscraping with Python

### The requests library
The first thing we’ll need to do to scrape a web page is to download the page. We can download pages using the Python requests library.

In [1]:
import requests
page = requests.get("http://dataquestio.github.io/web-scraping-pages/simple.html")
page

We can print out the HTML content of the page using the content property:

In [2]:
page.content

b'<!DOCTYPE html>\n<html>\n    <head>\n        <title>A simple example page</title>\n    </head>\n    <body>\n        <p>Here is some simple content for this page.</p>\n    </body>\n</html>'

### Parsing a page with BeautifulSoup

We can use the BeautifulSoup library to parse this document, and extract the text from the `<p>` tag.

In [7]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')
soup

<!DOCTYPE html>

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<p>Here is some simple content for this page.</p>
</body>
</html>

In [5]:
type(soup)

bs4.BeautifulSoup

In [8]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <p>
   Here is some simple content for this page.
  </p>
 </body>
</html>

As all the tags are nested, we can move through the structure one level at a time. We can first select all the elements at the top level of the page using the `children` property of `soup`.

In [11]:
list(soup.children)

['html', '\n', <html>
 <head>
 <title>A simple example page</title>
 </head>
 <body>
 <p>Here is some simple content for this page.</p>
 </body>
 </html>]

The above tells us that there are two tags at the top level of the page — the initial `<!DOCTYPE html>` tag, and the `<html>` tag. There is a newline character `(\n)` in the list as well. Let’s see what the type of each element in the list is:

In [12]:
[type(item) for item in list(soup.children)]

[bs4.element.Doctype, bs4.element.NavigableString, bs4.element.Tag]

The `Tag` object allows us to navigate through an HTML document, and extract other tags and text. You can learn more about the various `BeautifulSoup` objects [here](https://www.crummy.com/software/BeautifulSoup/bs4/doc/#kinds-of-objects).

We can now select the html tag and its children by taking the third item in the list:

In [15]:
html = list(soup.children)[2]

In [16]:
html

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<p>Here is some simple content for this page.</p>
</body>
</html>

Each item in the list returned by the `children` property is also a `BeautifulSoup` object, so we can also call the `children` method on `html`.

Now, we can find the `children` inside the `html` tag:

In [17]:
list(html.children)

['\n', <head>
 <title>A simple example page</title>
 </head>, '\n', <body>
 <p>Here is some simple content for this page.</p>
 </body>, '\n']

As you can see above, there are two tags here, `head`, and `body`. We want to extract the text inside the `p` tag, so we’ll dive into the body:

In [18]:
body = list(html.children)[3]

In [19]:
body

<body>
<p>Here is some simple content for this page.</p>
</body>

We can now isolate the `p` tag:

In [20]:
p = list(body.children)[1]

In [24]:
p

Once we’ve isolated the tag, we can use the `get_text` method to extract all of the text inside the tag:

In [25]:
p.get_text()

'Here is some simple content for this page.'

### Finding all instances of a tag at once

If we want to extract a single tag, we can instead use the find_all method, which will find all the instances of a tag on a page.

In [28]:
soup = BeautifulSoup(page.content, 'html.parser')
soup.find_all('p')

Note that `find_all` returns a list, so we’ll have to loop through, or use list indexing, it to extract text:

In [29]:
soup.find_all('p')[0].get_text()

'Here is some simple content for this page.'

If you instead only want to find the first instance of a tag, you can use the `find` method, which will return a single `BeautifulSoup` object:

In [30]:
soup.find('p')

### Searching for tags by class and id


We introduced classes and ids earlier, but it probably wasn’t clear why they were useful. Classes and ids are used by CSS to determine which HTML elements to apply certain styles to. We can also use them when scraping to specify specific elements we want to scrape. Let's look at the following page:

~~~
<html>
    <head>
        <title>A simple example page</title>
    </head>
    <body>
        <div>
            <p class="inner-text first-item" id="first">
                First paragraph.
            </p>
            <p class="inner-text">
                Second paragraph.
            </p>
        </div>
        <p class="outer-text first-item" id="second">
            <b>
                First outer paragraph.
            </b>
        </p>
        <p class="outer-text">
            <b>
                Second outer paragraph.
            </b>
        </p>
    </body>
</html>
~~~

In [32]:
page = requests.get("http://dataquestio.github.io/web-scraping-pages/ids_and_classes.html")
soup = BeautifulSoup(page.content, 'lxml')
soup

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<div>
<p class="inner-text first-item" id="first">
                First paragraph.
            </p>
<p class="inner-text">
                Second paragraph.
            </p>
</div>
<p class="outer-text first-item" id="second">
<b>
                First outer paragraph.
            </b>
</p>
<p class="outer-text">
<b>
                Second outer paragraph.
            </b>
</p>
</body>
</html>

Now, we can use the `find_all` method to search for items by class or by id. In the below example, we’ll search for any `p` tag that has the class `outer-text`:

In [36]:
soup.find_all('p', class_='outer-text')

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>, <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

In [39]:
soup.find_all('p', attrs = {'id' : 'first'})

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

In the below example, we’ll look for any tag that has the class `outer-text`:

In [40]:
soup.find_all(class_="outer-text")

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>, <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

We can also search for elements by `id`:

In [41]:
soup.find_all(id="first")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

### Using CSS Selectors


You can also search for items using CSS selectors. These selectors are how the CSS language allows developers to specify HTML tags to style. Here are some examples:

- *p a* — finds all a tags inside of a p tag.
- *body p a* — finds all a tags inside of a p tag inside of a body tag.
- *html body* — finds all body tags inside of an html tag.
- *p.outer-text* — finds all p tags with a class of outer-text.
- *p#first* — finds all p tags with an id of first.
- *body p.outer-text* — finds any p tags with a class of outer-text inside of a body tag.

`BeautifulSoup` objects support searching a page via CSS selectors using the `select` method. We can use CSS selectors to find all the `p` tags in our page that are inside of a `div` like this:

In [42]:
soup.select("div p")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>, <p class="inner-text">
                 Second paragraph.
             </p>]

In [43]:
soup.select_one("div p")

<p class="inner-text first-item" id="first">
                First paragraph.
            </p>

Note that the `select` method above returns a list of `BeautifulSoup` objects, just like `find` and `find_all`.

In [44]:
#headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36'}

resp = requests.get('https://www.the-numbers.com/movie/budgets/all')#, headers=headers)

resp.status_code

200

In [45]:
import pandas as pd
tables = pd.read_html(resp.content)

In [46]:
tables

[    Unnamed: 0   ReleaseDate  \
 0            1  Apr 23, 2019
 1            2  May 20, 2011
 2            3  Apr 22, 2015
 3            4  Dec 16, 2015
 4            5  Apr 25, 2018
 5            6  May 24, 2007
 6            7  Nov 13, 2017
 7            8   Oct 6, 2015
 8            9  May 23, 2018
 9           10   Mar 7, 2012
 10          11  Mar 23, 2016
 11          12  Dec 13, 2017
 12          13  Nov 24, 2010
 13          14   May 4, 2007
 14          15  Apr 22, 2016
 15          16  Jul 15, 2009
 16          17  Dec 13, 2013
 17          18  Dec 10, 2014
 18          19   Apr 7, 2017
 19          20   Apr 8, 2020
 20          21  Dec 17, 2009
 21          22  Jun 28, 2006
 22          23  Jul 19, 2012
 23          24  May 23, 2017
 24          25  Nov 14, 2008
 25          26  Apr 25, 2012
 26          27   Jul 7, 2006
 27          28  Jun 14, 2013
 28          29  May 16, 2008
 29          30   Jul 2, 2013
 ..         ...           ...
 70          71   Apr 1, 2015
 71          72  May 16, 2013
 72          73  Jun 19, 2013
 73          74  May 10, 2013
 74          75   Nov 6, 2009
 75          76  Jul 11, 2013
 76          77  Nov 25, 2015
 77          78   May 2, 2008
 78          79  Jul 18, 2008
 79          80  May 22, 2008
 80          81  Jun 21, 2012
 81          82  Feb 23, 2017
 82          83  Jul 21, 2016
 83          84  Oct 17, 2019
 84          85  Sep 29, 2017
 85          86  Oct 25, 2019
 86          87  May 22, 2019
 87          88  Oct 25, 2017
 88          89   Dec 9, 2005
 89          90  May 28, 2014
 90          91  Nov 14, 2016
 91          92  Jun 27, 2008
 92          93  Aug 10, 2007
 93          94  Jun 27, 2016
 94          95  Nov 23, 2011
 95          96  Jul 20, 2017
 96          97   Feb 6, 2015
 97          98  Jul 16, 2018
 98          99  May 18, 2016
 99         100   Aug 9, 2018

                                                 Movie ProductionBudget  \
 0                                   Avengers: Endgame     $400,000,000
 1         Pirates of the Caribbean: On Stranger Tides     $379,000,000
 2                             Avengers: Age of Ultron     $365,000,000
 3                Star Wars Ep. VII: The Force Awakens     $306,000,000
 4                              Avengers: Infinity War     $300,000,000
 5            Pirates of the Caribbean: At World’s End     $300,000,000
 6                                      Justice League     $300,000,000
 7                                             Spectre     $300,000,000
 8                             Solo: A Star Wars Story     $275,000,000
 9                                         John Carter     $263,700,000
 10                 Batman v Superman: Dawn of Justice     $263,000,000
 11                  Star Wars Ep. VIII: The Last Jedi     $262,000,000
 12                                            Tangled     $260,000,000
 13                                       Spider-Man 3     $258,000,000
 14                         Captain America: Civil War     $250,000,000
 15             Harry Potter and the Half-Blood Prince     $250,000,000
 16                The Hobbit: The Desolation of Smaug     $250,000,000
 17          The Hobbit: The Battle of the Five Armies     $250,000,000
 18                            The Fate of the Furious     $250,000,000
 19                                     No Time to Die     $250,000,000
 20                                             Avatar     $237,000,000
 21                                   Superman Returns     $232,000,000
 22                              The Dark Knight Rises     $230,000,000
 23   Pirates of the Caribbean: Dead Men Tell No Tales     $230,000,000
 24                                  Quantum of Solace     $230,000,000
 25                                       The Avengers     $225,000,000
 26         Pirates of the Caribbean: Dead Man’s Chest     $225,000,000
 27                                       Man of Steel     $225,000,000
 28           The Chronicles of Narnia: Prince Caspian     $225,000,000
 29                                    The Lone Ranger     $225,000,000
 ..                                                ...              ...
 70                                          Furious 7     $190,000,000
 71                            Star Trek Into Darkness     $190,000,000
 72                                        World War Z     $190,000,000
 73                                   The Great Gatsby     $190,000,000
 74                         Disney’s A Christmas Carol     $190,000,000
 75                                        Pacific Rim     $190,000,000
 76                                  The Good Dinosaur     $187,500,000
 77                                           Iron Man     $186,000,000
 78                                    The Dark Knight     $185,000,000
 79  Indiana Jones and the Kingdom of the Crystal S...     $185,000,000
 80                                              Brave     $185,000,000
 81                                 Kong: Skull Island     $185,000,000
 82                                   Star Trek Beyond     $185,000,000
 83                       Maleficent: Mistress of Evil     $185,000,000
 84                                  Blade Runner 2049     $185,000,000
 85                              Terminator: Dark Fate     $185,000,000
 86                                            Aladdin     $182,000,000
 87                                     Thor: Ragnarok     $180,000,000
 88   The Chronicles of Narnia: The Lion, the Witch a…     $180,000,000
 89                                         Maleficent     $180,000,000
 90            Fantastic Beasts and Where to Find Them     $180,000,000
 91                                             WALL-E     $180,000,000
 92                                        Rush Hour 3     $180,000,000
 93                               The Legend of Tarzan     $180,000,000
 94                                               Hugo     $180,000,000
 95        Valerian and the City of a Thousand Planets     $180,000,000
 96                                  Jupiter Ascending     $179,000,000
 97                        Mission: Impossible—Fallout     $178,000,000
 98                                  X-Men: Apocalypse     $178,000,000
 99                                            The Meg     $178,000,000

    DomesticGross  WorldwideGross
 0   $858,373,000  $2,797,800,564
 1   $241,063,875  $1,045,663,875
 2   $459,005,868  $1,403,013,963
 3   $936,662,225  $2,068,223,624
 4   $678,815,482  $2,048,359,754
 5   $309,420,425    $963,420,425
 6   $229,024,295    $655,945,209
 7   $200,074,175    $879,620,923
 8   $213,767,512    $393,151,347
 9    $73,058,679    $282,778,100
 10  $330,360,194    $873,634,919
 11  $620,181,382  $1,332,539,889
 12  $200,821,936    $586,477,240
 13  $336,530,303    $894,860,230
 14  $408,084,349  $1,153,284,349
 15  $302,089,278    $935,213,767
 16  $258,366,855    $960,366,855
 17  $255,119,788    $945,577,621
 18  $225,764,765  $1,238,764,765
 19            $0              $0
 20  $760,507,625  $2,789,705,275
 21  $200,120,000    $391,081,192
 22  $448,139,099  $1,084,439,099
 23  $172,558,876    $788,241,137
 24  $169,368,427    $591,692,078
 25  $623,357,910  $1,518,812,988
 26  $423,315,812  $1,066,215,812
 27  $291,045,518    $667,999,518
 28  $141,621,490    $417,341,288
 29   $89,302,115    $260,002,115
 ..           ...             ...
 70  $353,007,020  $1,518,722,794
 71  $228,778,661    $467,381,584
 72  $202,359,711    $531,514,650
 73  $144,840,419    $353,640,419
 74  $137,855,863    $315,709,697
 75  $101,802,906    $411,002,906
 76  $123,087,120    $333,771,037
 77  $318,604,126    $585,171,547
 78  $533,720,947  $1,001,996,207
 79  $317,101,119    $786,635,413
 80  $237,282,182    $554,606,532
 81  $168,052,812    $561,072,059
 82  $158,848,340    $335,802,233
 83  $112,374,808    $475,384,121
 84   $92,054,159    $259,357,408
 85   $61,793,224    $250,446,701
 86  $355,559,216  $1,050,693,953
 87  $315,058,289    $853,958,289
 88  $291,710,957    $720,539,572
 89  $241,407,328    $758,536,735
 90  $234,037,575    $802,402,853
 91  $223,808,164    $532,508,025
 92  $140,125,968    $256,585,882
 93  $126,643,061    $348,902,025
 94   $73,864,507    $180,047,784
 95   $40,479,370    $215,098,356
 96   $47,482,519    $181,982,519
 97  $220,159,104    $787,456,552
 98  $155,442,489    $542,537,546
 99  $145,443,742    $529,530,715

 [100 rows x 6 columns]]

In [47]:
len(tables)

1

In [48]:
df = tables[0]

df

,Unnamed: 0,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross
0,1,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,063,875","$1,045,663,875"
2,3,"Apr 22, 2015",Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,403,013,963"
3,4,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,068,223,624"
4,5,"Apr 25, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,359,754"
5,6,"May 24, 2007",Pirates of the Caribbean: At World’s End,"$300,000,000","$309,420,425","$963,420,425"
6,7,"Nov 13, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
7,8,"Oct 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"
8,9,"May 23, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347"
9,10,"Mar 7, 2012",John Carter,"$263,700,000","$73,058,679","$282,778,100"
10,11,"Mar 23, 2016",Batman v Superman: Dawn of Justice,"$263,000,000","$330,360,194","$873,634,919"
11,12,"Dec 13, 2017",Star Wars Ep. VIII: The Last Jedi,"$262,000,000","$620,181,382","$1,332,539,889"
12,13,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240"
13,14,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230"
14,15,"Apr 22, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,153,284,349"
15,16,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767"
16,17,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855"
17,18,"Dec 10, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621"
18,19,"Apr 7, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,238,764,765"
19,20,"Apr 8, 2020",No Time to Die,"$250,000,000",$0,$0
20,21,"Dec 17, 2009",Avatar,"$237,000,000","$760,507,625","$2,789,705,275"
21,22,"Jun 28, 2006",Superman Returns,"$232,000,000","$200,120,000","$391,081,192"
22,23,"Jul 19, 2012",The Dark Knight Rises,"$230,000,000","$448,139,099","$1,084,439,099"
23,24,"May 23, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137"
24,25,"Nov 14, 2008",Quantum of Solace,"$230,000,000","$169,368,427","$591,692,078"
25,26,"Apr 25, 2012",The Avengers,"$225,000,000","$623,357,910","$1,518,812,988"
26,27,"Jul 7, 2006",Pirates of the Caribbean: Dead Man’s Chest,"$225,000,000","$423,315,812","$1,066,215,812"
27,28,"Jun 14, 2013",Man of Steel,"$225,000,000","$291,045,518","$667,999,518"
28,29,"May 16, 2008",The Chronicles of Narnia: Prince Caspian,"$225,000,000","$141,621,490","$417,341,288"
29,30,"Jul 2, 2013",The Lone Ranger,"$225,000,000","$89,302,115","$260,002,115"
...,...,...,...,...,...,...
70,71,"Apr 1, 2015",Furious 7,"$190,000,000","$353,007,020","$1,518,722,794"
71,72,"May 16, 2013",Star Trek Into Darkness,"$190,000,000","$228,778,661","$467,381,584"
72,73,"Jun 19, 2013",World War Z,"$190,000,000","$202,359,711","$531,514,650"
73,74,"May 10, 2013",The Great Gatsby,"$190,000,000","$144,840,419","$353,640,419"
74,75,"Nov 6, 2009",Disney’s A Christmas Carol,"$190,000,000","$137,855,863","$315,709,697"
75,76,"Jul 11, 2013",Pacific Rim,"$190,000,000","$101,802,906","$411,002,906"
76,77,"Nov 25, 2015",The Good Dinosaur,"$187,500,000","$123,087,120","$333,771,037"
77,78,"May 2, 2008",Iron Man,"$186,000,000","$318,604,126","$585,171,547"
78,79,"Jul 18, 2008",The Dark Knight,"$185,000,000","$533,720,947","$1,001,996,207"
79,80,"May 22, 2008",Indiana Jones and the Kingdom of the Crystal S...,"$185,000,000","$317,101,119","$786,635,413"
80,81,"Jun 21, 2012",Brave,"$185,000,000","$237,282,182","$554,606,532"
81,82,"Feb 23, 2017",Kong: Skull Island,"$185,000,000","$168,052,812","$561,072,059"
82,83,"Jul 21, 2016",Star Trek Beyond,"$185,000,000","$158,848,340","$335,802,233"
83,84,"Oct 17, 2019",Maleficent: Mistress of Evil,"$185,000,000","$112,374,808","$475,384,121"
84,85,"Sep 29, 2017",Blade Runner 2049,"$185,000,000","$92,054,159","$259,357,408"
85,86,"Oct 25, 2019",Terminator: Dark Fate,"$185,000,000","$61,793,224","$250,446,701"
86,87,"May 22, 2019",Aladdin,"$182,000,000","$355,559,216","$1,050,693,953"
87,88,"Oct 25, 2017",Thor: Ragnarok,"$180,000,000","$315,058,289","$853,958,289"
88,89,"Dec 9, 2005","The Chronicles of Narnia: The Lion, the Witch a…","$180,000,000","$291,710,957","$720,539,572"
89,90,"May 28, 2014",Maleficent,"$180,000,000","$241,407,328","$758,536,735"
90,91,"Nov 14, 2016",Fantastic Beasts and Where to Find Them,"$180,000,000","$234,037,575","$802,402,853"
91,92,"Jun 27, 2008",WALL-E,"$180,000,000","$223,808,164","$532,508,025"
92,93,"Aug 10, 2007",Rush Hour 3,"$180,000,000","$140,125,968","$256,585,882"
93,94,"Jun 27, 2016",The Legend of Tarzan,"$180,000,000","$126,643,061","$348,902,025"
94,95,"Nov 23, 2011",Hugo,"$180,000,000","$73,864,507","$180,047,784"
95,96,"Jul 20, 2017",Valerian and the City of a Thousand Planets,"$180,000,000","$40,479,370","$215,098,356"
96,97,"Feb 6, 2015",Jupiter Ascending,"$179,000,000","$47,482,519","$181,982,519"
97,98,"Jul 16, 2018",Mission: Impossible—Fallout,"$178,000,000","$220,159,104","$787,456,552"
98,99,"May 18, 2016",X-Men: Apocalypse,"$178,000,000","$155,442,489","$542,537,546"
99,100,"Aug 9, 2018",The Meg,"$178,000,000","$145,443,742","$529,530,715"

## Your Turn: Downloading weather data

We now know enough to proceed with extracting information about the local weather from the National Weather Service website. The first step is to find the page we want to scrape. We’ll extract weather information about my hometown of Auburn, AL from this [page](https://forecast.weather.gov/MapClick.php?lat=32.6083&lon=-85.4817).

We can then scroll up in the elements panel to find the “outermost” element that contains all of the text that corresponds to the extended forecasts. In this case, it’s a `div` tag with the id `seven-day-forecas`t:

We now know enough to download the page and start parsing it. In the below code, we:

1. Download the web page containing the forecast.
2. Create a `BeautifulSoup` class to parse the page.
3. Find the `div` with id `seven-day-forecast`, and assign to `seven_day`
4. Inside `seven_day`, find each individual forecast item.
5. Extract and print the first forecast item.

In [49]:
page = requests.get("https://forecast.weather.gov/MapClick.php?lat=32.6083&lon=-85.4817")
soup = BeautifulSoup(page.content, 'html.parser')

# Your code here

In [60]:
soup.find('div', attrs = {'id' : 'seven-day-forecast'})

<div class="panel panel-default" id="seven-day-forecast">
<div class="panel-heading">
<b>Extended Forecast for</b>
<h2 class="panel-title">
	    	    Auburn University AL	</h2>
</div>
<div class="panel-body" id="seven-day-forecast-body">
<div id="seven-day-forecast-container"><ul class="list-unstyled" id="seven-day-forecast-list"><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Today<br/><br/></p>
<p><img alt="Today: Showers and possibly a thunderstorm before noon, then rain after noon.  Temperature falling to around 50 by 5pm. North wind 10 to 15 mph.  Chance of precipitation is 90%. New rainfall amounts between a tenth and quarter of an inch, except higher amounts possible in thunderstorms. " class="forecast-icon" src="newimages/medium/shra90.png" title="Today: Showers and possibly a thunderstorm before noon, then rain after noon.  Temperature falling to around 50 by 5pm. North wind 10 to 15 mph.  Chance of precipitation is 90%. New rainfall amounts between a tenth and quarter of an inch, except higher amounts possible in thunderstorms. "/></p><p class="short-desc">Showers</p><p class="temp temp-high">High: 70 °F<span style="color: #000000; font-weight:normal;">⇓</span></p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Tonight<br/><br/></p>
<p><img alt="Tonight: Rain.  Low around 40. North wind 10 to 15 mph.  Chance of precipitation is 80%. New precipitation amounts of less than a tenth of an inch possible. " class="forecast-icon" src="newimages/medium/nra80.png" title="Tonight: Rain.  Low around 40. North wind 10 to 15 mph.  Chance of precipitation is 80%. New precipitation amounts of less than a tenth of an inch possible. "/></p><p class="short-desc">Rain</p><p class="temp temp-low">Low: 40 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Wednesday<br/><br/></p>
<p><img alt="Wednesday: A 40 percent chance of rain, mainly before noon.  Partly sunny, with a high near 55. North wind 5 to 10 mph, with gusts as high as 20 mph. " class="forecast-icon" src="newimages/medium/ra40.png" title="Wednesday: A 40 percent chance of rain, mainly before noon.  Partly sunny, with a high near 55. North wind 5 to 10 mph, with gusts as high as 20 mph. "/></p><p class="short-desc">Chance Rain</p><p class="temp temp-high">High: 55 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Wednesday<br/>Night</p>
<p><img alt="Wednesday Night: A 20 percent chance of showers after 3am.  Mostly clear, with a low around 42. East wind 5 to 10 mph, with gusts as high as 20 mph. " class="forecast-icon" src="DualImage.php?i=nfew&amp;j=hi_nshwrs&amp;jp=20" title="Wednesday Night: A 20 percent chance of showers after 3am.  Mostly clear, with a low around 42. East wind 5 to 10 mph, with gusts as high as 20 mph. "/></p><p class="short-desc">Mostly Clear<br/>then Slight<br/>Chance<br/>Showers</p><p class="temp temp-low">Low: 42 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Thursday<br/><br/></p>
<p><img alt="Thursday: A 30 percent chance of showers, mainly after noon.  Increasing clouds, with a high near 53. East wind around 10 mph, with gusts as high as 25 mph. " class="forecast-icon" src="newimages/medium/shra30.png" title="Thursday: A 30 percent chance of showers, mainly after noon.  Increasing clouds, with a high near 53. East wind around 10 mph, with gusts as high as 25 mph. "/></p><p class="short-desc">Chance<br/>Showers</p><p class="temp temp-high">High: 53 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Thursday<br/>Night</p>
<p><img alt="Thursday Night: Showers likely, mainly after midnight.  Cloudy, with a low around 42. Chance of precipitation is 60%." class="forecast-icon" src="newimages/medium/nshra60.png" title="Thursday Night: Showers likely, mainly after midnight.  Cloudy, with a low around 42. Chance of precipitation is 60%."/></p><p class="short-desc">Showers<br/>Likely</p><p class="temp temp-low">Low: 42 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Friday<br/><br/></p>
<p><img alt="Friday: Showers likely.  Cloudy, with a high near 55. Chance of precipitation is 70%." class="forecast-icon" src="newimages/medium/shra70.png" title="Friday: Showers likely.  Cloudy, with a high near 55. Chance of precipitation is 70%."/></p><p class="short-desc">Showers<br/>Likely</p><p class="temp temp-high">High: 55 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Friday<br/>Night</p>
<p><img alt="Friday Night: A 50 percent chance of showers.  Cloudy, with a low around 46." class="forecast-icon" src="newimages/medium/nshra50.png" title="Friday Night: A 50 percent chance of showers.  Cloudy, with a low around 46."/></p><p class="short-desc">Chance<br/>Showers</p><p class="temp temp-low">Low: 46 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Saturday<br/><br/></p>
<p><img alt="Saturday: A 20 percent chance of showers.  Mostly cloudy, with a high near 61." class="forecast-icon" src="newimages/medium/shra20.png" title="Saturday: A 20 percent chance of showers.  Mostly cloudy, with a high near 61."/></p><p class="short-desc">Slight Chance<br/>Showers</p><p class="temp temp-high">High: 61 °F</p></div></li></ul></div>
<script type="text/javascript">
// equalize forecast heights
$(function () {
	var maxh = 0;
	$(".forecast-tombstone .short-desc").each(function () {
		var h = $(this).height();
		if (h > maxh) { maxh = h; }
	});
	$(".forecast-tombstone .short-desc").height(maxh);
});
</script> </div>
</div>

In [62]:
forecast = soup.select('#seven-day-forecast')[0]

### Extracting information from the page
As you can see, inside the forecast item `tonight` is all the information we want. There are `4` pieces of information we can extract:

- The name of the forecast item — in this case, **Tonight**.
- The description of the conditions — this is stored in the `title` property of `img`.
- A short description of the conditions — in this case, **Mostly Clear**.
- The temperature low — in this case, **49 degrees**.

We’ll extract the name of the forecast item, the short description, and the temperature first, since they’re all similar:

Now, we can extract the `title` attribute from the `img` tag. To do this, we just treat the `BeautifulSoup` object like a dictionary, and pass in the attribute we want as a key:

In [88]:
forecast.find('img')['alt']

'Today: Showers and possibly a thunderstorm before noon, then rain after noon.  Temperature falling to around 50 by 5pm. North wind 10 to 15 mph.  Chance of precipitation is 90%. New rainfall amounts between a tenth and quarter of an inch, except higher amounts possible in thunderstorms. '

In [76]:
tombstones = forecast.find_all(attrs = {'class' : 'forecast-tombstone'})

In [78]:
len(tombstones)

9

### Extracting all the information from the page
Now that we know how to extract each individual piece of information, we can combine our knowledge with css selectors and list comprehensions to extract everything at once.

In the below code, we:

- Select all items with the class period-name inside an item with the class tombstone-container in seven_day.
- Use a list comprehension to call the get_text method on each BeautifulSoup object.

In [80]:
period_tags = forecast.select(".tombstone-container .period-name")
periods = [pt.get_text() for pt in period_tags]
periods

['Today',
 'Tonight',
 'Wednesday',
 'WednesdayNight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday']

As you can see above, our technique gets us each of the period names, in order. Now you can apply the same technique to get the other 3 fields:

In [ ]:
for i in forecast.find_all('img'):
    print (i['alt'])

In [90]:
# Your code here
descriptions = forecast.find_all('img')
text = [i['alt'] for i in descriptions]

In [95]:
temps = [i.get_text() for i in forecast.find_all('p', attrs = {'class' : 'temp'})]

In [99]:
forecast.find_all('p', attrs = {'class' : 'temp'})

[<p class="temp temp-high">High: 70 °F<span style="color: #000000; font-weight:normal;">⇓</span></p>,
 <p class="temp temp-low">Low: 40 °F</p>,
 <p class="temp temp-high">High: 55 °F</p>,
 <p class="temp temp-low">Low: 42 °F</p>,
 <p class="temp temp-high">High: 53 °F</p>,
 <p class="temp temp-low">Low: 42 °F</p>,
 <p class="temp temp-high">High: 55 °F</p>,
 <p class="temp temp-low">Low: 46 °F</p>,
 <p class="temp temp-high">High: 61 °F</p>]

In [103]:
forecast.find_all('p', attrs = {'class' : 'temp'})[0].get_text()

'High: 70 °F⇓'

### Combining our data into a Pandas Dataframe

We can now combine the data into a Pandas DataFrame and analyze it.

In order to do this, we’ll call the DataFrame class, and pass in each list of items that we have. We pass them in as part of a dictionary. Each dictionary key will become a column in the DataFrame, and each list will become the values in the column:

In [97]:
import pandas as pd
weather = pd.DataFrame({
    "period": periods,
    'temps' : temps,
    "desc": text
})
weather

,period,temps,desc
0,Today,High: 70 °F⇓,Today: Showers and possibly a thunderstorm bef...
1,Tonight,Low: 40 °F,Tonight: Rain. Low around 40. North wind 10 t...
2,Wednesday,High: 55 °F,"Wednesday: A 40 percent chance of rain, mainly..."
3,WednesdayNight,Low: 42 °F,Wednesday Night: A 20 percent chance of shower...
4,Thursday,High: 53 °F,"Thursday: A 30 percent chance of showers, main..."
5,ThursdayNight,Low: 42 °F,"Thursday Night: Showers likely, mainly after m..."
6,Friday,High: 55 °F,"Friday: Showers likely. Cloudy, with a high n..."
7,FridayNight,Low: 46 °F,Friday Night: A 50 percent chance of showers. ...
8,Saturday,High: 61 °F,Saturday: A 20 percent chance of showers. Mos...

We can now do some analysis on the data. For example, we can use a regular expression and the Series.str.extract method to pull out the numeric temperature values:

In [105]:
temp_nums = weather["temps"].str.extract("(?P<temp_num>\d+)", expand=False)
weather["temp_num"] = temp_nums.astype('int')
temp_nums

0    70
1    40
2    55
3    42
4    53
5    42
6    55
7    46
8    61
Name: temp_num, dtype: object

In [ ]:
weather

We could then find the mean of all the high and low temperatures:

In [106]:
weather["temp_num"].mean()

51.55555555555556

We could also only select the rows that happen at night:

In [ ]:
is_night = weather["temp"].str.contains("Low")
weather["is_night"] = is_night
is_night

In [ ]:
weather[is_night]